.new-input {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close-button {
    background-color: white;
    border: none;
}

.modal-title {
    margin-top: 0;
}

.cancel-button {
    margin-left: 2vmin;
}